* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "jetbrains mono", monospace;
}

/*color palette*/
/* Default light theme */
:root {
  --primary-color: #8a2be2;
  --secondary-color: #ff69b4;
  --background-color: #e6e6fa;
  --text-color: #4b0082;
  --muted-text-color: #778899;
  --box-shadow-color: rgba(75, 0, 130, 0.15);
  --box-shadow-hover-color: rgba(75, 0, 130, 0.3);
}

[data-theme="dark"] {
  --primary-color: #9370db;
  /* Adjusted for better contrast in dark mode */
  --secondary-color: #ff1493;
  /* Adjusted for better contrast in dark mode */
  --background-color: #2c2c2c;
  --text-color: #e6e6fa;
  --muted-text-color: #a9a9a9;
  --box-shadow-color: rgba(230, 230, 250, 0.15);
  --box-shadow-hover-color: rgba(230, 230, 250, 0.3);
}

:root {
  --card-width: 100px;
  --card-height: 400px;
  --card-border-radius: 2rem;
  --card-margin: 0 10px;
  --card-transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  --card-box-shadow: 0px 10px 30px -5px var(--box-shadow-color);
  --card-border: 2px solid var(--text-color);
  --icon-size: 55px;
  --icon-margin: 20px;
  --description-height: 120px;
  --description-width: 520px;
  --description-opacity: 1;
  --description-transform: translateY(30px);
  --description-transition: all 0.3s ease-in-out;
  --description-transition-delay: 0.3s;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-color);
  /* White */
  color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

/*--------------------------Nav-bar------------------------------------*/
/* Navigation Bar */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  display: flex;
  justify-content: center;
  z-index: 50;
  /* Ensures the nav bar stays on top */
  background-color: var(--background-color);
  justify-content: space-between;
}

/* Navigation Items */
.nav-item {
  font-size: 1.125rem;
  /* 18px */
  font-weight: 600;
  margin: 0 1rem;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
  border-radius: 0.375rem;
  /* 6px */
  transition: background-color 0.3s ease, color 0.3s ease,
    border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
  /* Initial border-bottom */
  color: var(--text-color);
}

.nav-item:hover {
  background-color: var(--primary-color);
  color: var(--hover-text-color);
  border-bottom: 2px solid var(--primary-hover-color);
}

/* Flexbox for Navigation */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-bar {
    padding: 0.5rem 1rem;
  }

  .nav-item {
    font-size: 1rem;
    /* 16px */
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .nav-bar {
    flex-direction: column;
    padding: 0.5rem;
  }

  .nav-item {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
  }
}

/*-----------------------------common----------------------------------*/
#about,
#skills,
#work,
#contact,
#qualifications {
  min-height: 100vh;
  padding: 5rem 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#skills .head,
#work .head,
#contact .head,
#qualifications .head {
  font-size: 6rem;
  font-weight: bold;
  color: var(--primary-color);
  position: relative;
}

/*-----------------------------About----------------------------------*/
/* About Section */

/* About Section */

.home-container {
  display: flex;
  flex-direction: row;
  /* Ensure text is on the left and image on the right */
  justify-content: center;
  align-items: center;
  text-align: left;
  /* Align text to the left for larger screens */
}

.home-img {
  flex: 1;
  /* Take up remaining space */
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  max-width: 70%;
  /* Adjust to reduce image size */
  height: auto;
  /* Maintain aspect ratio */
  border: none;
  transition: transform 0.3s ease;
  /* Smooth transition for hover effect */
}

.home-img img:hover {
  transform: scale(1.05);
  /* Slightly enlarge image on hover */
}

.home-content {
  flex: 1;
  /* Take up remaining space */
  padding: 2rem;
}

.home-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-content h1 span {
  color: var(--primary-color);
}

.home-content h3.typing-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
  #about {
    padding: 3rem 1.5rem;
    /* Adjust padding for medium screens */
  }

  .home-container {
    flex-direction: column;
    /* Stack vertically on medium screens */
    text-align: center;
    /* Center text on medium screens */
  }

  .home-img,
  .home-content {
    padding: 1.5rem;
  }

  .home-img img {
    max-width: 80%;
    /* Reduce image size on medium screens */
  }
}

@media (max-width: 768px) {
  #about {
    padding: 2rem 1rem;
    /* Adjust padding for small screens */
  }

  .home-container {
    flex-direction: column;
    /* Stack vertically on small screens */
    text-align: center;
    /* Center text on small screens */
  }

  .home-img,
  .home-content {
    padding: 1rem;
  }

  .home-img img {
    max-width: 80%;
    /* Reduce image size on small screens */
  }
}

/*-----------------------------Qualifications----------------------------------*/

#qualifications .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #qualifications .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (min-width: 1024px) {
  #qualifications .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

#qualifications .card {
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center align items horizontally */
}

#qualifications .card:hover {
  box-shadow: 0 8px 16px var(--box-shadow-hover-color);
}

#qualifications .card h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#qualifications .card p {
  font-size: 1.6rem;
  color: var(--muted-text-color);
}

/*-----------------------------Skills----------------------------------*/

#skills .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
  max-width: 1200px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #skills .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #skills .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

#skills .card {
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#skills .card:hover {
  box-shadow: 0 8px 16px var(--box-shadow-hover-color);
}

#skills .card i {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

#skills .card h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#skills .card p {
  font-size: 1.6rem;
  color: var(--muted-text-color);
}

/*-----------------------------work----------------------------------*/
/* Section Styles */

/* Grid Styles */
#work .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 cards per row */
  gap: 20px;
}

/* Card Styles */
#work .card {
  background-color: var(--background-color);
  border: 1px solid var(--card-border);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#work .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px var(--box-shadow-hover-color);
}

#work .card-image img {
  width: 100%;
  border-radius: 10px;
}

#work .card-content {
  text-align: center;
}

#work .card h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 10px;
}

#work .card p {
  font-size: 1em;
  color: var(--text-color);
  line-height: 1.6;
  margin: 10px 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
  #work .grid {
    grid-template-columns: repeat(2,
        1fr);
    /* 2 cards per row for medium screens */
  }
}

@media (max-width: 768px) {
  #work .grid {
    grid-template-columns: 1fr;
    /* 1 card per row for small screens */
  }
}

.more .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #ffffff;
}

.more .nav-item:hover {
  background-color: var(--secondary-color);
}

/*-----------------------------Contact----------------------------------*/
:root {
  --hover-scale: 1.1;
  /* Scale factor for hover effect */
}

.media-icons {
  display: flex;
  justify-content: space-evenly;
  /* Evenly distribute the icons */
  align-items: center;
  /* Center the icons vertically */
  gap: 10px;
  /* Space between icons */
}

.media-icons .icon {
  display: inline-block;
  width: 50px;
  /* Adjust the size as needed */
  height: 50px;
  /* Adjust the size as needed */
}

.media-icons .icon img {
  display: block;
  width: 100%;
  /* Ensure the image takes up the full width of its container */
  height: 100%;
  /* Ensure the image takes up the full height of its container */
  object-fit: contain;
  /* Maintain the aspect ratio of the images */
  border: none;
  /* Remove any default borders */
  transition: transform 0.3s;
  /* Smooth transition for hover effect */
}

.media-icons .icon img:hover {
  transform: scale(var(--hover-scale));
  /* Slightly enlarge image on hover */
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  /* Adjust as needed */
  right: 20px;
  /* Adjust as needed */
  z-index: 50;
}

.back-to-top a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  /* Adjust as needed */
  height: 48px;
  /* Adjust as needed */
  background-color: #2d3748;
  /* Tailwind's bg-gray-800 */
  color: #ffffff;
  /* Tailwind's text-white */
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Tailwind's shadow-lg */
  transition: background-color 0.3s ease-in-out;
}

.back-to-top a:hover {
  background-color: #4a5568;
  /* Tailwind's bg-gray-600 */
}

/*-----------------------------extra----------------------------------*/
.carousel-description .nav-item {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  /* Bootstrap's primary color */
  color: #ffffff;
  /* White text */
  text-decoration: none;
  /* Remove underline */
  border-radius: 5px;
  /* Rounded corners */
  transition: background-color 0.3s ease-in-out;
}

.carousel-description .nav-item:hover {
  background-color: #0056b3;
  /* Darker shade of primary color */
}

/* From Uiverse.io by andrew-demchenk0 */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: var(--background-color);
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: #183153;
}

.input:checked+.slider:before {
  transform: translateX(30px);
}
